<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name:" %><br />
    <%= f.text_field :name %>
  </div>

  <br />
  <div class="field">
  <%= f.fields_for :helps do |builder| %>
    <%= builder.label :tip, "Tip" %><br />
    <%= builder.text_field :tip %>
  <% end %>                                  
  </div> 
  
  <br />
  <div class="help_field">
    <%= button_tag "Add a tip", :id => "add_tip" %>
  </div>
  <br />
                    
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />