<h1>Listing filmes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filmes.each do |filme| %>
  <tr>
    <td><%= filme.name %></td>
    <td><%= link_to 'Show', filme %></td>
    <td><%= link_to 'Edit', edit_filme_path(filme) %></td>
    <td><%= link_to 'Destroy', filme, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filme', new_filme_path %>
